$color1: #28e5fa;
$color2: #ffff57;
$font1: "Lora", serif;

body{
    background-color: #fffbe2;
}


.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $color2;
    padding: 10%;
    border-radius: 20px;
img{
    width: 200px;
    height: auto;
    border-radius: 20px;
}}

form{
    background-color: #28e5fa;
    padding: 10% auto;
}