$color1: #28e5fa;
$color2: #ffff57;
$font1: "Lora", serif;

body{
    background-color: #fffbe2;
}

.contact-container{
    background-color: $color2;
    border-radius: 5%;
.skinthia-logo{
    width: 100px;
    height: auto;
    display: flex;
    margin: 10% auto;
}}

.contact-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    border-radius: 20px;
img{
    width: 200px;
    height: auto;
    border-radius: 20px;
    display: none
}}

form{
    padding: 10% auto;
label{
    font-size: 1.5rem;
}}

input{
    padding: 2%;
    border-radius: 10%;
    border: none;
    margin: 5%;
    padding: 10px;
}

button{
    border-radius: 5%;
    border: none;
}


// img display for tab/desktop