$color1: #28e5fa;
$color2: #ffff57;

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.coupon-code{
    background-color: $color1;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 1%;
}

.skinthia-logo{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 35%;
    height: auto;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: $color2;
}

video{
    max-width: 100vw;
    height: auto;
}

.sale-image{
    width: 100vw;
    height: auto;

}

.product-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
img{
    width: 200px;
    height: 200px;
    margin: 5%;
}}

form{
    text-align: center;
    background-color: $color1;
    padding: 1%;
}

footer{
    text-align: center;
    background-color: $color2;
.socials img{
    width: 50px;
    height: auto;
    margin: 2%;
}
}