$color1: #28e5fa;
$color2: #ffff57;
$font1: "Lora", serif;

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: $font1;
}

.coupon-code{
    background-color: $color1;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 1%;
}

.skinthia-logo{
    display: flex;
    flex-direction: row;
    margin: 2% auto 0;
    width: 35%;
    height: auto;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: $color2;
    padding: 1%;
li img{
    width: 25px;
    height: auto;
li:hover{
    color: $color1;
}}}

video{
    max-width: 100vw;
    height: auto;
}

.sale-image{
    width: 100vw;
    height: auto;

}

.feat-prod{
    text-align: center;
    background-color: $color1;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
.products{
    width: 75%;
    height: auto;
    font-size: .5rem;
h1{
    background-color: $color1;
}

img{
    width: 150px;
    height: auto;
    margin: 5%;
}}}

form{
    text-align: center;
    background-color: $color1;
    padding: 1%;
}

footer{
    text-align: center;
    background-color: $color2;
.socials img{
    width: 50px;
    height: auto;
    margin: 2%;
}
}